.tiptap {
  @media screen and (width < 768px) {
    :first-child {
      margin-top: 0;
    }
  }

  //! Important
  outline: none;

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style-type: unset;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  p {
    text-wrap: pretty;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
    font-weight: bold;
    color: var(--_theme_accent_color);
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: hsl(0, 0%, 15%);
    border-radius: calc(var(--_border_radius_s) + 0.1rem);
    color: var(--_theme_accent_color);
    font-family: var(--_font_firacode_regular);
  }

  pre {
    overflow-x: auto;
    background: hsl(0, 0%, 15%);
    border-radius: var(--_border_radius_md);
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    code {
      font-size: 0.9rem;
      font-family: var(--_font_firacode_regular);
    }
  }

  //? syntax highlighting with lowlight, CUSTOM CSS
  pre {
    code {
      color: inherit;
      padding: 0;
      background: none;
    }

    .hljs {
      display: block;
      overflow-x: auto;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161; /* Gray for comments and quotes */
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181; /* Soft red for variables, attributes, tags, etc. */
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88; /* Light orange for numbers, literals, types */
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d; /* Light green for strings, symbols, bullets */
    }

    .hljs-title,
    .hljs-section {
      color: #faf594; /* Light yellow for titles, sections */
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8; /* Light blue for keywords, selector tags */
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  blockquote {
    border-left: 3px solid var(--_theme_accent_color);
    background-color: hsl(from var(--_theme_accent_color) h s l / 0.3);
    margin: 1.5rem 0;
    padding-left: 1rem;
    border-radius: var(--_border_radius_s);
  }

  hr.tiptap__hr {
    border: none;
    border-top: 1px solid hsl(from var(--_theme_accent_color) h s l / 0.3);
    margin: 2rem 0;
  }

  mark {
    background-color: var(--_theme_accent_color);
    border-radius: calc(var(--_border_radius_md) - 5px);
    padding: 0.1rem 0.3rem;
    line-break: anywhere;
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

/* Bubble menu */
.bubble-menu {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: var(--_border_radius_l);
  box-shadow: var(--shadow);
  display: flex;
  padding: 0.2rem;

  button {
    background-color: unset;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--purple);

      &:hover {
        background-color: var(--purple-contrast);
      }
    }
  }
}

.is-active {
  background-color: var(--_theme_accent_color);
}
